section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
            "header"
            "diceContainer"
            "gameParts"
            "scoreList"
            "footer";
    grid-gap: 2px;

}

body{
    background-color: grey;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}


diceContainer{
    background-color: white;
    display: inline-grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 70px;
    vertical-align: center;

}

p.square{
    height: 75px;
    width: 75px;
    text-align: center;
    line-height: 75px;
    font-size: 50px;
    background-color: red;

}

table{
    border-collapse: collapse;
    margin-right:auto;
    margin-left:auto;
    width: 100%;

}

tr:nth-child(even) {background-color: pink;}

table,
td {
    border: 1px solid;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
    text-align: center;
}

article.dice{
    text-align: center;
    background-color: aqua;
}

article.score{
    margin-left: 40%;
    margin-right: 40%;
    grid-area: Score1;
    text-align: center;
    background-color: lightpink;
}

article.intro{
    background-color: orange;
}

article.rollButtons{
    text-align: center;
    background-color: yellow;
}