<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue - Introduktion</title>
    <link rel="stylesheet" type="text/css" href="css/yatzyCss.css">
</head>
<body>

<div id="app">
    <diceContainer>
        <article><p  class="square">{{dice[0].value}}</p><p><button id="1" v-on:click="lockButton($event)">{{dice[0].button}}</button></p></article>
        <article><p  class="square">{{dice[1].value}}</p><p><button id="2" v-on:click="lockButton($event)">{{dice[1].button}}</button></p></article>
        <article><p  class="square">{{dice[2].value}}</p><p><button id="3" v-on:click="lockButton($event)">{{dice[2].button}}</button></p></article>
        <article><p  class="square">{{dice[3].value}}</p><p><button id="4" v-on:click="lockButton($event)">{{dice[3].button}}</button></p></article>
        <article><p  class="square">{{dice[4].value}}</p><p><button id="5" v-on:click="lockButton($event)">{{dice[4].button}}</button></p></article>

    </diceContainer>
    <gameParts>
    <article class="intro" v-if="!isGameStarted">
        <p v-if="gamesWon<1">Welcome to Yatzy! In this game, you roll 5 dice to try and fill the scoreboard below.
            In this version you will do each round in order.
            To compensate for the extra difficulty you will get four rolls per round. Enjoy! </p>
        <p v-if="gamesWon>0">Congratulations! Your total score was {{grandTotal}}.</p>
        <button v-on:click="newGame">New Game</button></p>
    </article>
    <div v-if="isGameStarted">
    <article class="dice">
        <p v-if="roundCounter<=12">You are on round: {{scores[roundCounter].name}}</p>
        <p>{{ "Rolls: " + totalRolls }}</p>
    </article>

    <article class="rollButtons">
    <article v-if="!isFinishedGame&totalRolls>0">
        <p>
            <button v-if="totalRolls<4" v-on:click="rerollUnlocked">Reroll unlocked</button>
        <p><button v-on:click="submitScore">Submit score for round</button></p>
        </p>
    </article>
    <p><button  v-if="totalRolls<1" v-on:click="rerollAll">Roll All</button></p>

    </article>
    </div>
    </gameParts>
    <scoreList>
    <article class="score">
    <table>
        <thead>
        <tr>
            <th colspan="2">Score!</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th colspan="2">Upper section:</th>
        </tr>

        <tr>
            <td>{{scores[0].name}}:</td>
            <td>{{scores[0].score}}</td>
        </tr>
        <tr>
            <td>{{scores[1].name}}:</td>
            <td>{{scores[1].score}}</td>
        </tr>
        <tr>
            <td>{{scores[2].name}}:</td>
            <td>{{scores[2].score}}</td>
        </tr>
        <tr>
            <td>{{scores[3].name}}:</td>
            <td>{{scores[3].score}}</td>
        </tr>
        <tr>
            <td>{{scores[4].name}}:</td>
            <td>{{scores[4].score}}</td>
        </tr>
        <tr>
            <td>{{scores[5].name}}:</td>
            <td>{{scores[5].score}}</td>
        </tr>
        <tr>
            <td><b>Total:</b></td>
            <td>{{upperTotal}}</td>
        </tr>
        <tr>
            <th colspan="2">Lower Section:</th>
        </tr>
        <tr>
            <td>{{scores[6].name}}:</td>
            <td>{{scores[6].score}}</td>
        </tr>
        <tr>
            <td>{{scores[7].name}}:</td>
            <td>{{scores[7].score}}</td>
        </tr>
        <tr>
            <td>{{scores[8].name}}:</td>
            <td>{{scores[8].score}}</td>
        </tr>
        <tr>
            <td>{{scores[9].name}}:</td>
            <td>{{scores[9].score}}</td>
        </tr>
        <tr>
            <td>{{scores[10].name}}:</td>
            <td>{{scores[10].score}}</td>
        </tr>
        <tr>
            <td>{{scores[11].name}}:</td>
            <td>{{scores[11].score}}</td>
        </tr>
        <tr>
            <td>{{scores[12].name}}:</td>
            <td>{{scores[12].score}}</td>
        </tr>
        <tr>
            <td><b>Total:</b></td>
            <td>{{lowerTotal}}</td>
        </tr>
        </tbody>
        <tr>
            <td><b>GRAND TOTAL:</b></td>
            <td>{{grandTotal}}</td>
        </tr>
    </table>
    </article>
    </scoreList>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Rulla tärningen?',
            dice:[
                {id:1, value:0, locked: false, button: "Lock"},
                {id:2, value:0, locked: false, button: "Lock"},
                {id:3, value:0, locked: false, button: "Lock"},
                {id:4, value:0, locked: false, button: "Lock"},
                {id:5, value:0, locked: false, button: "Lock"},
            ],

            isFinishedGame: false,
            isGameStarted: false,
            totalRolls:0,
            scores:[
                {name: "Ones", score: 0},
                {name: "Twos", score: 0},
                {name: "Threes", score: 0},
                {name: "Fours", score: 0},
                {name: "Fives", score: 0},
                {name: "Sixes", score: 0},
                {name: "Three of a kind", score: 0},
                {name: "Four of a kind", score: 0},
                {name: "Small Straight", score: 0},
                {name: "Large Straight", score: 0},
                {name: "Full House", score: 0},
                {name: "Yatzy", score: 0},
                {name: "Chance", score: 0},
            ],
            upperTotal: 0,
            lowerTotal: 0,
            grandTotal: 0,
            roundCounter:0,
            gamesWon:0
        },
        methods: {
            newGame: function(){
                this.grandTotal=0;
                this.upperTotal=0;
                this.lowerTotal=0;
                this.roundCounter = 0;
                for(let i=0, len=this.scores.length; i<len; i++){
                    this.scores[i].score = 0;
                }
              this.isGameStarted = true;
              console.log("hey");

            },

            submitScore: function(){
                console.log("beginning of submitscore " +this.roundCounter);
                if (this.roundCounter<=5){

                    for (let i=0, len=this.dice.length; i<len; i++){
                        if (this.dice[i].value== this.roundCounter+1){
                            this.scores[this.roundCounter].score += this.dice[i].value;
                        }
                        console.log("roundcounter: " + this.roundCounter);
                    }
                    this.upperTotal += this.scores[this.roundCounter].score;
                }


                else if (this.roundCounter>5&this.roundCounter<12) {
                    const sortedDice = this.dice.slice().sort((a, b) => a.value - b.value);
                    const numString = "" + sortedDice[0].value + sortedDice[1].value + sortedDice[2].value + sortedDice[3].value + sortedDice[4].value
                    console.log(numString);

                    if(this.roundCounter==6){
                        console.log(this.scores[this.roundCounter].name + " Three of a kind");
                        const threeIdenticalRegex = RegExp('(?=(.)\\1\\1).{3}');
                        if (threeIdenticalRegex.test(numString)){
                            const index = numString.search(threeIdenticalRegex);
                            for(let i=0, len=this.dice.length; i<len; i++){
                                console.log("index: " + i + " value: " + sortedDice[i].value)
                            }
                            for(let i=index, len=index+3; i<len; i++){
                                console.log("index: " + i + " value: " + sortedDice[i].value)
                                this.scores[this.roundCounter].score += sortedDice[i].value;
                            }
                        }
                            console.log("roundcounter: " + this.roundCounter);
                    }
                    else if(this.roundCounter==7){
                        console.log(this.scores[this.roundCounter].name + " Four of a kind");
                        const fourIdenticalRegex = RegExp('(?=(.)\\1\\1\\1).{4}');
                        for(let i=0, len=this.dice.length; i<len; i++){
                            console.log("index: " + i + " value: " + sortedDice[i].value)
                        }
                        if (fourIdenticalRegex.test(numString)){
                            const index = numString.search(fourIdenticalRegex);
                            for(let i=index, len=index+4; i<len; i++){
                                this.scores[this.roundCounter].score += sortedDice[i].value;
                            }
                        }
                        console.log("roundcounter: " + this.roundCounter);

                    }

                    else if (this.roundCounter == 8) {
                        console.log(this.scores[this.roundCounter].name + " Small Straight");
                        //const regex = RegExp('12345')
                        if (numString==="12345") {
                            this.scores[this.roundCounter].score = 15
                        }

                    } else if (this.roundCounter == 9) {
                        console.log(this.scores[this.roundCounter].name + " Large Straight");
                        if (numString==="23456") {
                            this.scores[this.roundCounter].score = 20
                        }
                    } else if (this.roundCounter == 10) {
                        console.log(this.scores[this.roundCounter].name + " Full House");
                        const threeIdenticalRegex = RegExp('(?=(.)\\1\\1).{3}');
                        const allIdenticalRegex = RegExp('^(.)\\1*$');
                        console.log(threeIdenticalRegex.test(numString))
                        console.log(!(allIdenticalRegex.test(numString)))

                        if (threeIdenticalRegex.test(numString)&!(allIdenticalRegex.test(numString))) {
                            const index = numString.search(threeIdenticalRegex);
                            console.log("index: " +index);
                            let isFullHouse = false;
                            if (index==2){
                                isFullHouse = allIdenticalRegex.test(numString.substring(0,2));
                            }
                            if (index==0){
                                isFullHouse = allIdenticalRegex.test(numString.substring(3,5));
                            }
                            if (isFullHouse){
                                for(let i=0, len=this.dice.length; i<len; i++){
                                    this.scores[this.roundCounter].score += this.dice[i].value;
                            }
                            }
                        }
                    } else if (this.roundCounter == 11) {
                        console.log(this.scores[this.roundCounter].name + " Yatzy");
                        const regex = RegExp('^(.)\\1*$');
                        if (regex.test(numString)) {
                            this.scores[this.roundCounter].score = 50
                        }
                    }
                    this.lowerTotal += this.scores[this.roundCounter].score;
                }

                else if(this.roundCounter==12){
                    console.log(this.scores[this.roundCounter].name + " Chance");
                    for(let i=0, len=this.dice.length; i<len; i++){
                        this.scores[this.roundCounter].score += this.dice[i].value;
                    }
                    this.lowerTotal += this.scores[this.roundCounter].score;
                }

                for (let j=0, len=this.dice.length; j<len; j++){
                    this.dice[j].value = 0;
                    if (this.dice[j].locked==true){
                        this.dice[j].locked = false;
                        this.dice[j].button = "Lock";
                    }
                }

                this.grandTotal += this.scores[this.roundCounter].score;
                this.roundCounter++;
                this.totalRolls = 0;

                if (this.roundCounter===13){
                    this.gamesWon++;
                    this.isGameStarted=false;
                }

            },


            rerollAll: function () {

                for (let i=0, len=this.dice.length; i<len; i++){
                    this.rerollSpecific(i);
                }


                this.totalRolls++;


            },



            lockButton: function(event){
                diceNumber = event.currentTarget.id;
                console.log(diceNumber)
                if (this.dice[diceNumber-1].locked === false){
                    this.dice[diceNumber-1].locked = true;
                    this.dice[diceNumber-1].button = "Locked!";
                }
                else if (this.dice[diceNumber-1].locked === true){
                    this.dice[diceNumber-1].locked = false;
                    this.dice[diceNumber-1].button = "Lock";
                }
            },

            rerollSpecific: function(index){
                this.dice[index].value = Math.floor(Math.random()*6+1);


            },

            rerollUnlocked: function(){
                for (i=0, len=this.dice.length; i<len; i++){
                    if(this.dice[i].locked==false){
                        this.rerollSpecific(i);
                    }
                }

                this.totalRolls++;
            },


        }
    })
</script>
</body>
</html>